<!DOCTYPE html>
<html lang="en">

<head>
	<base href="">
	<title>Json Visualizer</title>
	<meta charset="utf-8" />
	<link rel="shortcut icon" href="../assets/media/logos/logo.png" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
	<link href="../assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
	<link href="../assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
	<link href="../assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
</head>
<!--begin::Body-->

<body data-kt-name="metronic">
	<div class="d-flex flex-column flex-root">
		<!--begin::Page-->
		<div class="docs-page d-flex flex-row flex-column-fluid">
			<!--begin::Aside-->
			<div id="kt_docs_aside" class="docs-aside" data-kt-drawer="true" data-kt-drawer-name="aside"
				data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true"
				data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start"
				data-kt-drawer-toggle="#kt_docs_aside_toggle">
				<!--begin::Logo-->
				<div class="docs-aside-logo flex-column-auto h-75px" id="kt_docs_aside_logo">
					<a>
						<img alt="Logo" src="../assets/media/logos/logo.png" class="theme-light-show h-100px" />
					</a>
				</div>
				<div class="docs-aside-select  h-100 px-7 pt-7 pt-lg-0 pb-lg-5 h-100" id="kt_docs_aside_select">
					<div class="d-flex flex-column  align-items-center h-100 w-full justify-content-between">
						<label for="selectFiles"
							class="btn btn-bg-primary btn-flex flex-center w-100 h-25px border-0 fw-bold px-2 px-lg-6">Upload
							file json</label>
						<input type="file" id="selectFiles" value="Import" required hidden />
						<button class="bg-success border-0 mt-2 mb-2" id="import">Import</button>
						<textarea class="w-100 h-100 bg-dark text-white " id="result"
							style="font-size:11px; font-family:italic;"></textarea>
						<a class="color-gray absolute justify-self-center" href="./landing.html">
							<b><< Page Home</b></a>
					</div>
				</div>
			</div>
			<div class="docs-wrapper d-flex flex-column flex-row-fluid" id="kt_docs_wrapper">
				<div id="kt_docs_header" class="docs-header align-items-stretch mb-2 mb-lg-10">
					<div class="container">
						<div class="d-flex align-items-stretch justify-content-between py-3 h-30px">
							<div class="d-flex align-items-center d-lg-none ms-n2 me-1" title="Show aside menu">
								<div class="btn btn-icon btn-flex btn-active-color-primary" id="kt_docs_aside_toggle">
									<span class="svg-icon svg-icon-1 mt-1">
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
											xmlns="http://www.w3.org/2000/svg">
											<path
												d="M21 7H3C2.4 7 2 6.6 2 6V4C2 3.4 2.4 3 3 3H21C21.6 3 22 3.4 22 4V6C22 6.6 21.6 7 21 7Z"
												fill="currentColor" />
											<path opacity="0.3"
												d="M21 14H3C2.4 14 2 13.6 2 13V11C2 10.4 2.4 10 3 10H21C21.6 10 22 10.4 22 11V13C22 13.6 21.6 14 21 14ZM22 20V18C22 17.4 21.6 17 21 17H3C2.4 17 2 17.4 2 18V20C2 20.6 2.4 21 3 21H21C21.6 21 22 20.6 22 20Z"
												fill="currentColor" />
										</svg>
									</span>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="docs-content d-flex flex-column flex-column-fluid" id="kt_docs_content">
					<div id="showJson">
						<!-- display -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		document.getElementById('import').onclick = function ()
		{
			var files = document.getElementById('selectFiles').files;
			if (files.length <= 0)
			{
				return false;
			}
			var fr = new FileReader();
			fr.onload = function (e)
			{
				var showJson = document.getElementById('showJson');
				var result = JSON.parse(e.target.result);
				document.getElementById('result').value = e.target.result;
				// Recursive function to loop through the object
				let countId = 0
				var deepFlattenArray = function (array)
				{
					for (let key in array)
					{
						console.log("element", array[key]);
						if (typeof array[key] == 'object')
						{
							showJson.innerHTML += `
								<ul id="ul-${countId++}">
									<li style="color: white; font-weight: bold; background-color: black; margin-right: 50%;">${key}</li>
								</ul>
							`;
							
							deepFlattenArray(array[key]);


						} else
						{
							showJson.innerHTML += `
										<ul>
											<li style="list-style-type: none; font-weight: bold; color: green; margin-right: 50%;"> ${key} => ${array[key]} <br></li>
										</ul>
									`;
							// }
						}

					};

				};
				deepFlattenArray(result);
			};
			fr.readAsText(files.item(0));
		};
	</script>
	<script src="../assets/plugins/global/plugins.bundle.js"></script>
	<script src="../assets/js/scripts.bundle.js"></script>
	<script src="../assets/js/custom/authentication/sign-in/general.js"></script>
</body>
</html>