<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Automatisation du Lecture de fichier JSON</title>
  </head>
  <body>
    <section>
      <h1>File Json Upload</h1>
      <form method="POST" action="/" enctype="multipart/form-data">
        <input type="file" name="file" id="UploadFileJson" required />
        <input type="submit" value="Upload" />
      </form>
    </section>
  </body>
  <script type="module" src="../database.js"></script>
  <script type="module" src="../upload.js"></script>
</html>
