<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Automatisation du Lecture de fichier JSON</title>
  </head>
  <body>
    <!-- <nav class="nav-bar">
      <a href="" ><img src="./assets/JSONBuddy.png" id="logo" alt="logo" /></a>
      <button>Login</button>
    </nav> -->
    <section>
      <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" id="UploadFileJson" />
        <input type="submit" value="Upload">
      </form>
    </section>
  </body>
  <script src="../upload.js"></script>
  
</html>
